
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.no-padding{
    padding: 0px!important
}
.no-padding-left{
    padding-left: 0px!important;
    padding-right:10px;
}
.no-padding-right{
    padding-right: 0px!important;
    padding-left:10px;
}
#shop-detail{
    height: 600px;
}
.center{
    clear:both;
    position:relative;
    margin:0 auto;
}
.box2 h4{
    color: #555; text-decoration: underline;
}
.status-order{
    background: #fff; color: #7fc8aa; padding: 5px
}
.square-order{
    background: #7fc8aa ; color: #fff; padding: 10px; margin-top: 5px;
}
.tabtab td{
    padding: 5px;
}
.orderlist{
    margin-top:10px; margin-bottom:10px;margin-left: 10px; padding-bottom: 20px!important;
}
.box2{
    border:2px solid #555; color: #555
}
.center{
	margin: 0 auto;
	position: relative;
	float: none;
}
.discount-price{
    text-decoration: line-through;
}
.box{
    border:2px solid #eeeeee;
    padding: 10px;
}
.panel:hover, .panel a:hover{
	color: #ff5555;
}
footer li{
    list-style: none;
}
.address table{
    width: 100%;
}
.btn-update{
    float: right; top: -40px; position: relative;border: 2px solid #ececec;
    color: #555;
    display: block;
    font-family: bree serif;
    font-size: 14px;
    padding: 9px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff; 
}
.btn-update:hover{
    color: #fff;
    background: #ff5555; 
}
.features-nav a{
    text-transform: uppercase;
}
.shiping-address{
    border:1px solid #e1e1e1;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:10px;
}
.copyright{
    background:#fff;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.information ul {
    color: #555;
    list-style: outside none disc;
    padding-left: 0px;
}
.brand-header{
    border-bottom: 2px solid #ec4445;
    padding-bottom: 10px;
}
.brand-image{
    width:100; 
    height:300px; 
    background-position:center; 
}
.brand-title{
    font-size:35px
}
.caption-right{
    background: #fff; 
    padding:3px; 
    width: 150px; 
    position: absolute; 
    bottom: 10px; 
    right: 30px;
}

.caption-left{
    background: #fff; 
    padding:3px; 
    width: 150px; 
    position: absolute; 
    bottom: 10px; 
    left: 30px;
}
.caption-grid{
    border:2px solid #000; 
    text-align: center; 
    text-transform: uppercase; 
    padding: 5px; 
    font-weight: bolder;
}
.extra-collection a{
    color: #555;
}
.caption-grid-bottom{
    text-align: center;
}
.grid{
    margin-bottom: 35px; 
}
.grid-large{
    width: 100%;
    height: 475px;
}
.grid-small{
    width: 100%;
    height: 220px;
}
.grid-custom{
    margin-top: 40px;
}
.caption-grid-bottom h4{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Lato";
}
.link-shop{
    border:1px solid #444444;
    padding: 10px 15px;
    color: #444444;
    font-size: 15px;
    text-transform: uppercase;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    font-weight: bold;
}

.link-shop:hover{
    border:1px solid #444444;
    background: #444444;
    color: #fff;
    text-decoration: none;
}
.copyright{
    background:#fff;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.home-2.footer-top-area {
    border-top: 1px solid #ececec;
    margin: 20px 0 0;
}

.modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}

.modal-dialog {
    position:absolute;
    top:50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    margin:auto 10%;
    width:80%;
    height:76%;
}
.modal-content {
    min-height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.modal-body {
    position:absolute;
    top:45px; // height of header
    bottom:45px;  // height of footer
    left:0;
    right:0;
    overflow-y:auto;
}
.modal-footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}
.input-box select {
    border: 1px solid #ececec;
    height: 40px;
    padding: 10px;
    width: 100%;
    margin-bottom: 0px;
}
.row-modal {
    margin-right: -15px;
    margin-left: 0px;
}

.price-modal {
    margin-top: 0px;
}

.col-sm-2-select{
    margin-left: -7%;
}

.col-sm-2-a{
    margin-left: -7%;
    border:1px solid #ececec;
    float: left;
    font-family: "Bree Serif",serif;
    font-size: 25px;
    padding: 7px 24px;
    text-transform: uppercase;
}

.col-sm-2-b{
    margin-left: 2%;
    border:1px solid #ececec;
    float: left;
    font-family: "Bree Serif",serif;
    font-size: 25px;
    padding: 7px 24px;
    text-transform: uppercase;
}

.actions-modal {
    float: left;
    margin-top: 20px;
}
.category-menu ul li{
    list-style: none;
}
.category-menu ul li:hover a ,.category-menu ul li:hover ul li:hover a,.category-menu ul li:hover ul li:hover ul li:hover a{
    background: #f3f3f3 none repeat scroll 0 0;
    padding-left:0px;
}
.category-menu ul li::before {
    color: #666;
    content: none;
    font-family: fontawesome;
    font-size: 5px;
    left: 0;
    position: absolute;
    top: 6px;
    transition: all 0.3s ease 0s;
}
.info-widget label{
    font-size: 15px!important;
}
.view label{
    font-size: 15px!important;
}
.info-widget {
    margin-top: 0px;
}
.category-menu-area{
    max-height: 200px;
    overflow-y: auto;
}
input[type=checkbox] { display:none; }
input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}
.color-box{
    height: 10px; width: 10px; float: right; right: 40px; top: 15px; position: relative;
}
.even ul li {
    margin-bottom: 0px;
}
input[type=checkbox] + label:before { content: "\f096"; }
input[type=checkbox] + label:before { letter-spacing: 10px; } 

input[type=checkbox]:checked + label:before { content: "\f046"; } 
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } 
#amount{
    border-color: #cccccc #ddd #cccccc #cccccc;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
}
.actions button {
    float: left;
    font-family: "Bree Serif",serif;
    font-size: 14px;
    padding: 7px 24px;
    text-transform: uppercase;
}

.product-details button {
    border: 3px solid #ececec;
    color: #555555;
    float: left;
    font-size: 15px;
    padding: 5px 9px;
}
.product-details button:hover {
    background: #ff5555 none repeat scroll 0 0;
    border-color: #ff5555;
    color: white;
}

.modal-header-wish {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}

.modal-dialog-wish {
    position:absolute;
    top:50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    margin: auto 25%;
    width: 50%;
    height: 10%;
}
.modal-content-wish {
    min-height:100%;
    background-color: #fff;
    position:absolute;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.modal-body-wish {
    position:absolute;
    top:45px; // height of header
    bottom:45px;  // height of footer
    left:0;
    right:0;
    overflow-y:auto;
}
.modal-footer-wish {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.modal-wish {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

img.zoom_01 {
    height: auto;
    max-width: 100%;
}
.panel-body {
    color: #555;
    line-height: 24px;
    padding:0px;
    padding-top: 10px;
}
.panel-title > a {
    border:1px solid #ececec;
}
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
}
.widget-dash{
    border:2px solid #eee; border-radius:10px;
}
.col-left{
    border-right:2px solid #eee;
}
.widget-dash .fa{
    font-size: 100px;
}
.widget-dash h5{
    color: #ff5555
}
.con-dash{
    padding-top: 15px
}
.single-product2{
    max-height: 435px;
}
/*media screen////////////*/
@media (max-width: 767px) {
    .single-product2{
        max-height: none;
    }
    .container,.box-layout {
        width:100%
    }
    .header-doller {
        float: right;
    }
    .no-padding-right{
        padding-left: 0px;
    }
    .no-padding-left{
        padding-right: 0px;
    }
    .grid-large{
        height: 200px;
    }
    .low-price{
        float: none!important
    }
    .availability {
        float: none!important
    }
}

.detail-qtybutton {
  border: 1px solid #ececec;
  color: #666;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 21px;
  line-height: 19px;
  position: absolute;
  right: 23px;
  text-align: center;
  top: 20px;
  width: 24px;
}

.detail-plus-minus .detail-qtybutton {
  top: 0;
}

.detail-plus-minus .detail-inc {
  top: 20px;
}

.detail-inc {
  height: 20px;
  line-height: 16px;
  top: 40px;
}